article {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: space-between;

    div.text {
        flex-direction: column;
        width: 700px;
        padding: 20px 60px;

        p {
            color: $gray;
            font: normal normal normal 14px/20px Montserrat;
        }
    }

    div.icons {
        @include center;
        height: 30px;
        justify-content: center;
        padding: 52.5px;
        gap: 80px;

        i {
            font-size: 2em;
            color: #eca79b;
            width: 30px;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        }

    }

}